body {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
    min-height: 75vh;
    border-left: 5px solid #007bff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
}

iframe {
    width: 100%;
    min-height: 62vh;
    border: none;
    margin: 0 auto 24px auto;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.intro {
    max-width: 90vw;
    margin: 0 auto 24px auto;
    padding: 10px 20px;
    border-left: 5px solid #007bff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.intro h1,
.container h2 {
    font-size: 2rem;
    color: #007bff;
    margin: 0;
}

.intro p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}
