<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='diferencias-ia.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap" rel="stylesheet">
    <title>Diferencias entre IA y Machine Learning</title>
</head>
<body>
    <div class="container">
        <nav class="container__sidebar">
            <h1>Machine Learning</h1>
            <ul>
                <li class="active"><a href="/diferencias-ia-ml">Diferencias IA y ML</a></li>
                <li><a href="/casos-de-exito-ml">Casos de Éxito ML</a></li>
                <li><a href="/regresion-lineal">Regresión Lineal</a></li>
                <li><a href="/mapa-mental">Mapa Mental</a></li>
                <li><a href="/regresion-logistica">Regresión Logística</a></li>
                <details>
                  <summary>Modelos de Machine Learning Supervisado de Clasificación</summary>
                  <ul class="submenu">
                    <li><a>Regresión Logística</a></li>
                    <li><a>K-Nearest Neighbors (KNN)</a></li>
                    <li><a>Árboles de Decisión</a></li>
                    <li><a>Random Forest</a></li>
                    <li><a>Support Vector Machine (SVM)</a></li>
                    <li><a>Gradient Boosting (XGBoost, AdaBoost, etc.)</a></li>
                    <li><a>Naive Bayes</a></li>
                  </ul>
                </details>
            </ul>
        </nav>
        <main class="container__content">
            <h2>Presentacion Canva - Diferencias entre IA y Machine Learning</h2>
            <div style="position: relative; width: 80%; height: 0; padding-top: 45.25%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); overflow: hidden; border-radius: 8px; will-change: transform;">
                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                  src="https://www.canva.com/design/DAGf2N2sd5Y/YZ7ygzojI09K3yPhctVWOg/watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                </iframe>
            </div>

            <!-- Botón para redirigir a la URL -->
            <a href="https://www.canva.com/design/DAGf2N2sd5Y/FbU2QAzAYUtm5l6C3Rvk8A/watch?utm_content=DAGf2N2sd5Y&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h09fa502dc1" target="_blank" class="btn">
                Ver en Canva
            </a>
        </main>
    </div>
    <footer>
        <p>Grupo #2 - Machine Learning | &copy; 2025</p>
        <p>Jennifer Andrea Espitia | Kelly Johanna Garzon Jenny | Ruben Esteban Rodriguez | Jenny Paola Rodriguez</p>
    </footer>
</html>
