<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning - Landing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="/" onclick="loadContent('home')">Inicio</a></li>
                <li><a href="/casos-de-exito" onclick="loadContent('casos-de-exito')">Casos de Éxito</a></li>
                <li><a href="/promedio-notas" onclick="loadContent('promedio-notas')">Promedio Notas</a></li>
                <li><a href="/mapa-mental" onclick="loadContent('mapa-mental')">Mapa Mental</a></li>
            </ul>
        </nav>
        <main class="content" id="main-content">
            <h1>Bienvenido a la Introducción a Machine Learning</h1>
            <p>Autores:</p>
            <ul>
                <li>Rubén Rodríguez</li>
                <li>Jennifer Espitia</li>
                <li>Johanna Garzón</li>
                <li>Jenny Rodríguez</li>
            </ul>
        </main>
    </div>
    <script src="script.js"></script>
</body>
</html>
