<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mental-mind.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap"
      rel="stylesheet"
    />
    <title>Regresión Logística: Conceptos y Casos de Uso</title>
  </head>
  <body>
    <section class="intro">
      <h1>Regresión Logística: Conceptos y Casos de Uso</h1>
      <p>
        La <strong>Regresión logística</strong> es una técnica que nos ayuda a decidir a qué
        grupo pertenece algo. A diferencia de otros modelos que predicen números
        (como la altura o el precio), la regresión logística predice la
        probabilidad de que algo pertenezca a un grupo específico.
      </p>
    </section>

    <div class="container">
      <h2>Mapa Mental</h2>
      <iframe
        src="https://www.mindmeister.com/maps/public_map_shell/3656440473/regresion-logistica?width=1400&height=800?fullscreen=1&z=auto&no_share=1&no_logo=1"
        scrolling="no"
      >
      </iframe>
      <!-- Botón para redirigir a la URL -->

      <a
        href="https://www.mindmeister.com/3656440473/regresion-logistica"
        target="_blank"
        class="btn"
      >
        Ver en MindMeister
      </a>
    </div>
  </body>
</html>
