<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap" rel="stylesheet">
    <title>Diferencias entre IA y Machine Learning</title>
</head>
<body>
    <div class="container">
        <nav class="container__sidebar">
            <h1>Machine Learning</h1>
            <ul>
                <li><a href="/diferencias-ia-ml">Diferencias IA y ML</a></li>
                <li><a href="/casos-de-exito-ml">Casos de Éxito ML</a></li>
                <li><a href="/regresion-lineal">Regresión Lineal</a></li>
                <li><a href="/mapa-mental">Mapa Mental</a></li>
                <li><a href="/regresion-logistica">Regresión Logística</a></li>
                <details class="active">
                  <summary>Modelos de Machine Learning Supervisado de Clasificación</summary>
                  <ul class="submenu">
                    <li><a href="/modelo-supervisado/1">Regresión Logística</a></li>
                    <li><a href="/modelo-supervisado/2">K-Nearest Neighbors (KNN)</a></li>
                    <li><a href="/modelo-supervisado/3">Árboles de Decisión</a></li>
                    <li><a href="/modelo-supervisado/4">Random Forest</a></li>
                    <li><a href="/modelo-supervisado/5">Support Vector Machine (SVM)</a></li>
                    <li><a href="/modelo-supervisado/6">Gradient Boosting (XGBoost, AdaBoost, etc.)</a></li>
                    <li><a href="/modelo-supervisado/7">Naive Bayes</a></li>
                  </ul>
                </details>
            </ul>
        </nav>
        <main class="container__content">
            <section class="intro nmb">
                <h1>{{ modelo[1] }}</h1>
                <p><strong>Descripción:</strong> {{ modelo[2] }}</p>
                <p><strong>Fuente:</strong> <a href="{{ modelo[3] }}">{{ modelo[3] }}</a></p>
                <!-- {% if modelo[4] %}
                  <img src="{{ url_for('static', filename='img/' + modelo[4]) }}" alt="Gráfico del modelo">
                {% endif %} -->
            </section>
        </main>
    </div>
    <footer>
        <p>Grupo #2 - Machine Learning | &copy; 2025</p>
        <p>Jennifer Andrea Espitia | Kelly Johanna Garzon Jenny | Ruben Esteban Rodriguez | Jenny Paola Rodriguez</p>
    </footer>
</html>